/ .footer.container-fluid
/   .row
/     .col-md-4
/       .footer-column
/         h3 Resort justice
/         ul.list-group
/           li.footer-list-item 
/             a. [href="http://portal.justice.cz" class="footer-link"] Ministerstvo spravedlnosti
/           li.footer-list-item
/             a. [href="http://portal.justice.cz/Justice2/Uvod/Soudy.aspx" class="footer-link"] Soudy
/           li.footer-list-item
/             a. [href="http://portal.justice.cz/Justice2/Uvod/StatniZast.aspx" class="footer-link"] Státní zastupitelství
/           li.footer-list-item
/             a. [href="http://portal.justice.cz/Justice2/Soud/soud.aspx?o=203&j=213&k=2027" class="footer-link"] Rejstřík trestů
/           li.footer-list-item
/             a. [href="https://www.jacz.cz/" class="footer-link"] Justiční akademie
/           li.footer-list-item
/             a. [href="http://www.ok.cz/iksp/" class="footer-link"] Institut pro kriminologii a sociální prevenci
/           li.footer-list-item
/             a. [href="https://www.pmscr.cz/" class="footer-link"] Probační a mediační služba
/           li.footer-list-item
/             a. [href="http://www.vscr.cz/" class="footer-link"] Vězeňská služba

/     .col-md-4
/       .footer-column
/         h3 eJustice
/         ul.list-group
/           li.footer-list-item 
/             a. [href="https://or.justice.cz/ias/ui/rejstrik" class="footer-link"] Veřejný rejstřík
/           li.footer-list-item
/             a. [href="https://isir.justice.cz/isir/common/index.do" class="footer-link"] Insolvenční rejstřík
/           li.footer-list-item
/             a. [href="http://infosoud.justice.cz/public/search.jsp" class="footer-link"] Soudní řízení
/           li.footer-list-item
/             a. [href="http://infojednani.justice.cz" class="footer-link"] Nařízená jednání
/           li.footer-list-item
/             a. [href="http://www.nsoud.cz/Judikaturans_new/judikatura_vks.nsf/uvod" class="footer-link"] Rozhodnutí soudů (judikatura)

/     .col-md-4
/       .footer-column
/         h3 Kontakt
/         ul.list-group
/           li.footer-list-item 
/             a. [href="http://kariera.justice.cz" class="footer-link"] Volná pracovní místa

/   .sub_footer
/     .footer_border
/     .footer_info
/       ul.list-inline
/         li.list-inline-item.footer-list-item
/           a. [href="http://www.mvcr.cz/clanek/vyhlaska-c-64-2008-sb-o-forme-uverejnovani-informaci-souvisejicich-s-vykonem-verejne-spravy-prostrednictvim-webovych-stranek-pro-osoby-se-zdravotnim-postizenim-vyhlaska-o-pristupnosti-10.aspx" class="footer-additional"] Vyhláška č. 64/2008 Sb. o přístupnosti
/         li.list-inline-item.footer-list-item
/           a. [href="http://www.mvcr.cz/clanek/vyhlaska-c-64-2008-sb-o-forme-uverejnovani-informaci-souvisejicich-s-vykonem-verejne-spravy-prostrednictvim-webovych-stranek-pro-osoby-se-zdravotnim-postizenim-vyhlaska-o-pristupnosti-10.aspx" class="footer-additional"] GDPR
/         li.list-inline-item.footer-list-item
/           a. [href="http://www.mvcr.cz/clanek/vyhlaska-c-64-2008-sb-o-forme-uverejnovani-informaci-souvisejicich-s-vykonem-verejne-spravy-prostrednictvim-webovych-stranek-pro-osoby-se-zdravotnim-postizenim-vyhlaska-o-pristupnosti-10.aspx" class="footer-additional"] Cookies